{% extends 'store/base.html' %}

{% block content %}
<h2>Your Orders</h2>

{% if orders %}
<div class="card-container">
    {% for order in orders %}
    <div class="card order-card">
        <h3>Order #{{ order.id }}</h3>
        <p><strong>Date:</strong> {{ order.created_at|date:"d M Y H:i" }}</p>
        <p><strong>Total Paid:</strong> R{{ order.total_price }}</p>

        <hr>

        <h4>Items:</h4>
        <ul>
            {% for item in order.items.all %}
            <li>{{ item.product_name }} - Qty: {{ item.quantity }} - R{{ item.price }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% else %}
<p style="text-align:center; font-size:18px; margin-top:20px;">You have not made any orders yet 😔</p>
{% endif %}

{% endblock %}
