{% extends 'store/base.html' %}
{% block content %}
<h2> Products</h2>
<div class="card-container">
    {% for product in products %}
    <div class="card">
        <img src="{{ product.image }}" alt="{{ product.name }}">
        <h3>{{ product.name }}</h3>
        <p><strong>R{{ product.price }}</strong></p>
        <a href="{% url 'product_detail' product.id %}"><button>Details</button></a>
        <a href="{% url 'add_to_cart' product.id %}"><button>Add to Cart</button></a>
    </div>
    {% endfor %}
</div>
{% endblock %}
